
.main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#picture {
    border-radius: 20px;
    
}
.main{
    background-color: aqua;
}
.info{
    background-color: aquamarine;
}
.contactInfo{
    background-color: lightblue;
}
